.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-height: 600px;

  background-color: $secondary-background-color-hero;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading-hero {
  font-family: $main-font;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  max-width: 696px;
  color: $white-color;
  margin-bottom: 30px;
}
